.idea
composer.phar
composer.lock
/vendor

/app/config/parameters.yml

/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/data
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep

/web/build